.input{
    color: black;
    background-color:rgb(235, 235, 227);
    outline: none;
    border: none;
}

.face{
  background-color: red;
  border: 2px solid blue;
}

.container-input{
  background-color:none;
}

.bt-login{
  background-color: rgb(59, 9, 223);
  color:white;
  border: none;
}

.bt-login:hover{
 transform: scale(1.1);
 border: none;
}

.regis:hover{
 color: red;
}