.swipe {
  color: red;
  background-color: rgb(185, 169, 169);
  position: relative;  /* supaya arrow tetap refer ke container ini */
  top: 100px;
  height: 200px;
  width: 400px;
  transform: translateY(-80px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top:100px;
}

